@tailwind base;
@tailwind components;
@tailwind utilities;

/* Applied to body when navbar popout menu on mobile is active */
.no-scroll {
  overflow: hidden;
}

.slanted-container {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.slanted-text {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.slanted-text::before, .slanted-text::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  background-color: inherit;
  z-index: -10;
}

.slanted-text::before {
  left: -14px;
  transform: skewX(-20deg);
}

.slanted-text::after {
  right: -14px;
  transform: skewX(-20deg);
}


@media screen and (min-width: 640px) {
  /* When viewport width is 640px or greater,
   overflow: auto is applied to the no-scroll class to
   allow scrolling of the body. */
  .no-scroll {
    overflow: auto;
  }
}