@tailwind base;
@tailwind components;
@tailwind utilities;

/* Applied to body when navbar popout menu on mobile is active */
.no-scroll {
  overflow: hidden;
}

/* Applied to hidden Destinations Card in Destinations.jsx */
.hidden-card {
  position: absolute;
  visibility: hidden;
  left: -9999px;
  opacity: 0;
  transition: opacity 1s;
}

/* Applied to showed Destinations Card in Destinations.jsx */
.showed-card {
  position: static;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
}


@media screen and (min-width: 640px) {
  /* When viewport width is 640px or greater,
   overflow: auto is applied to the no-scroll class to
   allow scrolling of the body. */
  .no-scroll {
    overflow: auto;
  }
}